@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
}



.main-container {
  display: flex;
  height: 100%;
}

.app-container {
  height: 100vh;
}

.menu-container {
  background-color: rgb(248, 249, 250);
}
